body {
  margin: 0;
  font:
    400 16px "Playfair Display",
    serif;
  color: #000000;
  background: #000;
  background-image:
    radial-gradient(1px 1px at 15% 25%, #fff, #0000),
    radial-gradient(1px 1px at 75% 15%, #fff, #0000),
    radial-gradient(1.5px 1.5px at 45% 85%, #fff, #0000),
    radial-gradient(1px 1px at 85% 70%, #fff, #0000);
  background-size: 270px 270px;
  height: 100vh;
  overflow: hidden;
}

nav {
  padding: 1.5rem 5%;
  border-bottom: 1px solid #222;
}
.hero,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

/* logos */
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #d76262b4;
}
.nav-logo {
  font: 700 1.2rem sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
}

/* headings */
h1 {
  font-size: clamp(2rem, 10vw, 5rem);
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.member-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
/* Links */
.members-link,
.member-item {
  text-decoration: none;
  transition: 0.4s;
}
.members-link {
  color: #bbb;
  font: 300 0.8rem sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

/* 5. Member List */
.member-list {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}
.member-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff1a;
  color: #fff;
}

/* Hover effect */
.members-link:hover {
  color: #fff;
  border-color: #fff;
}
.member-item:hover {
  padding-left: 15px;
  background: #ffffff08;
  border-color: #fff;
}
